* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .gameContainer {
  width: 800px;
  height: 600px;
  outline: solid 1px;
  margin: 0 auto;
  position: relative;
}
body .gameContainer .clickLayer {
  position: absolute;
  display: block;
  width: 800px;
  height: 600px;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.5);
}
body .gameContainer .ground {
  position: absolute;
  display: block;
  margin: 0 auto;
  outline: solid 1px;
  left: 0;
  top: 0;
}
